<div class="hiw">
	<h2><%= t("How it works") %></h2>
	
	
	
	<div class="scene">
		<img src="/images/web/hiw/hiw_ivan_offer.png" >
	</div>
	
	<div class="offer visitor"><%= link_to '<em> '+t("When website visitor contacts our live support.")+'</em>', how_it_works_url(:visitor) %></div>
	<div class="offer customer"><%= link_to '<em> '+t("When you want to use our services.")+'</em>', how_it_works_url(:customer) %></p></div>
	
	<script type="text/javascript">
	
		function doAnimatable(el) {
			$(el).mouseenter(function(){
				$(this).animate({ "top":"100px"});
			});
			
			$(el).mouseleave(function(){
				$(this).animate({ "top":"117px"});
			});
		}
	
		
		
		doAnimatable($(".hiw .visitor"));
		doAnimatable($(".hiw .customer"));

	</script>


</div>