html, body { background-color: #494949; color: #333; padding:0; margin:0; height: 100%;}

@font-face {
  font-family: 'CartoGothicStd BoldItalic';
  src: url(CartoGothicStd BoldItalic);
  src: local('CartoGothicStd BoldItalic'), local('CartoGothicStd BoldItalic'), 
         url(/stylesheets/fonts/CartoGothicStd-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'CartoGothicStd Bold';
  src: url(CartoGothicStd Bold);
  src: local('CartoGothicStd Bold'), local('CartoGothicStd Bold'), 
         url(/stylesheets/fonts/CartoGothicStd-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'CartoGothicStd Italic';
  src: url(CartoGothicStd Italic);
  src: local('CartoGothicStd Italic'), local('CartoGothicStd Italic'), 
         url(/stylesheets/fonts/CartoGothicStd-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'CartoGothicStd';
  src: url(CartoGothicStd);
  src: local('CartoGothicStd'), local('CartoGothicStd'), 
         url(/stylesheets/fonts/CartoGothicStd.otf) format('opentype');
}

body, p, ol, ul, td {
  font-family: "Myriad pro",arial,Tahoma, verdana, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #d7d7d7; }
a:visited { color: #D7D7D7; }
a:hover { color: #fff;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.translation_missing{
	/*border-bottom: 1px dotted silver;*/
}

/* webpage */

.clear{
	clear: both;
}

img{
	border: none;
}

ul.horizontal{
	margin:0;
	padding:0;
}

ul.horizontal li{
	float:left;
	list-style: none;
	margin: 0 1em 0;
}

.wrapper{
	width: 689px;
	margin: 0 auto;
	position: relative;
}

#top_navi{
	background-color: #4a4b49;
}

#top_navi #top_navi_right_bg{
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	background-color:#262625;
}

#top_navi .wrapper{
	background: #404140 url(/images/web/top_navi_bg.jpg) repeat-y top left;
	position: relative;
}

#top_navi .navigation{
	float:right;
	color: #d7d7d7;
}

#top_navi ul li{
	margin: 0 0.5em;
}

#top{
	background: #2b2b2b;
}

#top .wrapper{
	 background: url(/images/web/top_bg.jpg) no-repeat 260px -40px;
	 display: block;
	 height: 214px;
}

#logo{
	left:97px;
	top: 39px;
	position: absolute;
}

#top .slogan{
	position: absolute;
	left:400px;
	top:51px;
	color: #c6c6c6;
	font-size: 1.3em;
}

#bulb{
	height:201px;
	left:360px;
	position:absolute;
	top:107px;
	width:222px;
	z-index:100;
}

#navigation{
	background-color: #2b2b2b;
}

#navigation .wrapper{
	z-index: 200;
}

#navigation ul a{
	font-size: 15px;
	font-weight: bold;
	font-family: "Myriad pro", arial,Tahoma;
	text-decoration: none;
	color: #bbbbbb;
}
#navigation ul a:hover{
	background: none;
}

#navigation ul li{
	margin-left: 1.7em;
}

#navigation ul li div{
	height: 2em;
	text-align:center;
}

#navigation ul li div.s a{
	color: #FFFFFF;
}

#navigation ul .l_margin{
	margin-left: 90px;
}

#contact_us_tab{
	width: 81px;
}

#contact_us_tab.s{
	background: url(/images/web/tab_contact_us.jpg) no-repeat left bottom transparent;
}

#faq_tab{
	width: 55px;
}

#faq_tab.s{
	background: url(/images/web/tab_faq.jpg) no-repeat left bottom transparent;
}

#about_us_tab{
	width: 68px;
}

#about_us_tab.s{
	background: url(/images/web/tab_about_us.jpg) no-repeat left bottom transparent;
}

#how_it_works_tab{
	width: 95px;
}
#how_it_works_tab.s{
	background: url(/images/web/tab_how_it_works.jpg) no-repeat left bottom transparent;
}

#prices_tab{
	width:55px;
}

#prices_tab.s{
	background: url(/images/web/tab_prices.jpg) no-repeat left bottom transparent;
}

#index_tab{
	width: 55px;
}

#index_tab.s{
	background: url(/images/web/tab_index.jpg) no-repeat left bottom transparent;
}

#greenfield{
	background-color: #87bb07;
	position:relative;
}

#greenfield .right_bg{
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	background-color:#94c618;
	height: 80px;
}

#greenfield .wrapper{
	background: #87bb07 url(/images/web/greenfield_bg.jpg);
	height: 80px;
}

#greenfield .slogan{
	top: 35px;
	position: relative;
	color: #323232;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: "Myriad pro", arial, Tahoma;
	font-weight:600;
	text-align:center;
}

#content{
	overflow:visible;
	color: #2b2b2b;
	background-color: #eff0ea;
}

#content a{
	color: #2b2b2b;
}

#content a:hover{
	color: #000000;
}

#content .wrapper .page_content{
	float:left;
	width:100%;
}

#content h2, #content h2 a{
	color: #9ad411;
	font-family: "Myriad pro", arial, Tahoma;
	font-weight:600;
}

#content h2{
	padding:0;
	margin:0.2em 0;
	font-size: 2em;
}

#foot{
	background-color: #494949;
	height:3em;
	clear:both;
	/*position: absolute;
	bottom:0;
	width:100%;*/
}

#foot .wrapper{
	text-align:center;
	color: #D7D7D7;
}

#content .buble{
	font-weight:600;
}

/* contact us */

#content ul.contact{
	margin-top:2em;
}

#content ul.contact h3{
	text-transform:uppercase;
	margin:0;
	padding:0;
}

#content ul.contact span{
	font-weight:600;
}

#content .contact_us{
	position:relative;
	height:400px;
}

#content .contact_us .hr{
	border-bottom: 1px solid #2b2b2b;
	width: 100%;
}

#content .contact_us .contact_now{
	margin-left: 5em;
	font-size: 1.3em;
	text-transform:uppercase;
	font-weight:600;
	width:26em;
	text-align:right;
}

#content .contact_us .scene{
	position: absolute;
	bottom:0;
}

#content .contact_us .scene .person1, #content .contact_us .scene .person2{
	position: absolute;
	bottom:0;
}

#content .contact_us .scene .person2{
	right:0;
}

#content .contact_us .scene .wrapper{
	position:relative;
}

#content .contact_us .scene .buble{
	position:absolute;
}

#content .contact_us .scene .buble p{
	font-size: 0.9em;
	text-align: center;
}

#content .contact_us .scene .buble1{
	background: url(/images/web/contact/contact_buble1.png) no-repeat top left;
	width: 220px;
	height: 80px;
	bottom:190px;
	left: 100px;
}

#content .contact_us .scene .buble1 p{
	margin-left: 20px
}

#content .contact_us .scene .buble2{
	background: url(/images/web/contact/contact_buble2.png) no-repeat top left;
	width: 230px;
	height: 66px;
	bottom:190px;
	right: 100px;
}

#content .contact_us .scene .buble2 p{
	margin: 10px 30px 10px 10px;
	text-align: center;
}



/* FAQ */

#faq-content{
	float:left;
	padding-bottom:3em;
}

#faq-content .q{
	margin-top: 2em;
	text-transform:uppercase;
	font-weight:600;
}
#faq-content .a{
	
}

/* How it works */

#content .hiw{
	height:340px;
	position:relative;
}

#content .hiw .offer{
	position: absolute;
	width: 220px;
	height: 120px;
	top: 117px;
}

#content .hiw .offer a{
	display:block;
	line-height: 100%;
	height: 100%;
}

#content .hiw .offer a em{
	display: none;
}

#content .hiw .visitor{
	left: 50px;
	background: url(/images/web/hiw/hiw_option_1.png) no-repeat top center;
}

#content .hiw .customer{
	right: 50px;
	background: url(/images/web/hiw/hiw_option_2.png) no-repeat top center;
}

#content .hiw .scene{
	position:absolute;
	bottom:0px;
	left:180px;
}

#content .hiw .buble1{
	background: url(/images/web/hiw/hiw_buble.png) no-repeat top left;
	width: 214px;
	height: 79px;
	bottom:130px;
	left: 150px;
	position:absolute;
}

#content .hiw .buble1 p{
	margin: 10px 10px 10px 30px;
	text-align: center;
	font-size: 12px;
}

/* hiw visitor */

#content .hiw_visitor{
	height: 500px;
}

#content .hiw h2 em{
	color: #000001;
	font-size: 14px;
	font-style: normal;
} 

#content .hiw .window{
	width: 579px;
	height: 180px;
	background: url(/images/web/hiw/visitor/window.png) no-repeat top left;
	position: relative;
	margin: 20px auto;
}

#content .hiw .window .picture{
	position: absolute;
	top:9px;
	right: 50px;
}

#content .hiw .window .text{
	position: absolute;
	top: 14px;
	left: 40px;
	width: 285px;
}

#content .hiw .window .text h3{
	font-family: 'CartoGothicStd BoldItalic';
}

#content .hiw .window .text p{
	font-family: 'CartoGothicStd';
}

#content .hiw .window .numbering{
	position: absolute;
	top:-10px;
	left:-10px;
}

/* hiw customer*/

#content .hiw_customer{
	height: 950px;
}

#content .hiw .step1 .picture{
	top:9px;
	right: 50px;
}

#content .hiw .step3 .picture{
	top:30px;
	right: 50px;
}

/* about us */

#content .about_us{
	position:relative;
	height:400px;
	width:100%;
}

#content .about_us p.long_text{
	text-align: justify;
}

#content .about_us .scene{
	width:100%;
	position:absolute;
	bottom:0;
}

#content .about_us .scene .wrapper{
	
}

#content .about_us .scene img{
	margin:0 auto;
	width:100%;
}

#content .about_us .note{
	position:absolute;
	font-size: 0.8em;
	text-transform:capitalize;
}

#content .about_us #lv{
	top: 155px;
	left: 20px
}

#content .about_us #ik{
	top: 55px;
	left:320px;
}

#content .about_us #ja{
	top: 35px;
	left: 410px;
}

#content .about_us #ap{
	top: 40px;
	left: 505px;
}

#content .about_us #jn{
	top: 27px;
	left: 590px;
}

#content .about_us .title{
	color: #c6c8c4;
	font-weight: bold;
	top: -3px;
}

#content .about_us #co_founder{
	left: 54px;
}

#content .about_us #co_founder span{
	text-transform: none;
}

#content .about_us #senior{
	left: 480px;
}


/* prices */

#content .prices{
	height:75ex;
	position:relative;
}

#content .prices .scene{
	width:163px;
	position:absolute;
	bottom:-25px;
	right: 0;
	float:right;
}

#content .prices .text_wrapper{
	width: 38em;
}

#content .prices .prices_items{
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 2em;
	background: url(/images/web/prices/prices_bg.png) no-repeat left top;
	width: 311px;
	height: 138px;
	line-height: 33px;
	position: relative;
	color: #eeeeee;
}

#content .prices .prices_items .left{
	float: left;
	display: inline;
}

#content .prices .prices_items .right{
	float: right;
	display: inline;
}

#content .prices .prices_items em{
	font-size: 15px;
	font-style: normal;
}

#content .prices .price_items_wrapper{
	left:45px;
	position:absolute;
	text-align:center;
	top:15px;
	width:228px;
}

#content .prices .prices_items .pi0{
	
}

#content .prices .prices_items .pi1{
	
}

#content .prices .prices_items .pi2{
	
}



/* home */

#content .home{
	height: 500px;
	position:relative;
}

#content .home p{
	text-align: justify;
}

#content .home .scene{
	position: absolute;
	bottom:0;
}

#content .home .scene #buble{
	position: absolute;
	right: 20px;
	bottom: 140px;
	background: url(/images/web/home/home_buble.png) no-repeat top left;
	width: 120px;
	height: 80px;
}

#content .home .scene #buble p{
	font-size:11px;
	font-weight:600;
	margin:5px 10px 20px;
	text-align: center;
	line-height: 1.2em;
}

#content .home .scene #person{
	position: absolute;
	bottom:0px;
	right:0px;
}
