<h2><%=t("Contact us")%></h2>

<table>
	<tbody>
		<tr>
			<td><%=t("e-mail") %>:</td>
			<td>support@chat-support.net</td>
		</tr>
		<tr>
			<td><%=t("address") %>:</td>
			<td><%=t("Holleho 2, Zvolen Slovakia")%></td>
		</tr>
	</tbody>
</table>
 
 
fax: